doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document

    style
      include ../../public/main.css

  body 
    .home 
      .home__wrapper
        .home__desc 
          svg.home__icon.home__blend-difference(viewBox="0 0 62 62" xmlns="http://www.w3.org/2000/svg")
            circle(cx="31" cy="31" r="31" fill="#161616")
            path(d="M16.508 25.196V39H18.3447V32.678H25.614V39H27.4507V25.196H25.614V31.1313H18.3447V25.196H16.508ZM32.2971 31.1313V26.7427H35.9705C36.37 26.7427 36.7438 26.7684 37.0918 26.82C37.4527 26.8587 37.7685 26.9553 38.0391 27.11C38.3098 27.2647 38.5225 27.4838 38.6771 27.7673C38.8318 28.0509 38.9091 28.4376 38.9091 28.9273C38.9091 29.662 38.6771 30.2162 38.2131 30.59C37.762 30.9509 37.0145 31.1313 35.9705 31.1313H32.2971ZM30.4605 25.196V39H37.1305C37.8136 39 38.4129 38.8904 38.9285 38.6713C39.4569 38.4393 39.8951 38.1429 40.2431 37.782C40.604 37.4082 40.8747 36.9829 41.0551 36.506C41.2356 36.0291 41.3258 35.5393 41.3258 35.0367C41.3258 34.186 41.1003 33.4642 40.6491 32.8713C40.198 32.2784 39.5471 31.8918 38.6965 31.7113V31.6727C39.3538 31.4149 39.8565 31.0218 40.2045 30.4933C40.5654 29.952 40.7458 29.314 40.7458 28.5793C40.7458 27.8833 40.5847 27.2969 40.2625 26.82C39.9531 26.3431 39.5729 25.9693 39.1218 25.6987C38.9156 25.5698 38.6643 25.4731 38.3678 25.4087C38.0843 25.3442 37.7749 25.2991 37.4398 25.2733C37.1047 25.2347 36.7631 25.2153 36.4151 25.2153C36.08 25.2024 35.7643 25.196 35.4678 25.196H30.4605ZM32.2971 37.4533V32.678H36.4925C36.8791 32.678 37.2529 32.7167 37.6138 32.794C37.9747 32.8584 38.2905 32.9809 38.5611 33.1613C38.8447 33.3289 39.0703 33.5609 39.2378 33.8573C39.4054 34.1538 39.4891 34.5276 39.4891 34.9787C39.4891 35.752 39.2571 36.3578 38.7931 36.796C38.342 37.2342 37.7105 37.4533 36.8985 37.4533H32.2971Z" fill="white")
            path(d="M46.5873 28.0787C46.5873 28.6716 46.3876 29.1678 45.988 29.5673C45.6013 29.9669 45.1051 30.1667 44.4993 30.1667C43.8936 30.1667 43.3909 29.9669 42.9913 29.5673C42.6047 29.1678 42.4113 28.6716 42.4113 28.0787C42.4113 27.4729 42.6047 26.9767 42.9913 26.59C43.3909 26.1904 43.8936 25.9907 44.4993 25.9907C45.1051 25.9907 45.6013 26.1904 45.988 26.59C46.3876 26.9767 46.5873 27.4729 46.5873 28.0787Z" fill="white")

          p.home__desc-text.home__blend-difference
            | Hong Kong-based magazine that was 
            | <br> started by Kevin Ma, in 2006

        .home__title.home__grid.home__grid--rows 
          p.home__title-text.home__blend-difference 
            span.home__title-span Offscr.
          .home__title-image-block
            .home__title-image-wrapper
              .home__title-image-bg
                img(src="../../images/icecream.jpeg").home__title-image
            p.home__title-text.home__blend-difference 
              span.home__title-span B4+
        //- h1.home__h1.home__grid.home__grid--rows
        //-   span.home__h1-span.home__blend-difference The leading online destination for women's 
        //-   span.home__h1-span.home__blend-difference contemporary streetwear, fashion 
        //-   span.home__h1-span.home__blend-difference and 
        //-   span.home__h1-span.home__blend-difference beauty.
        //-   a(href="https://google.com").home__link.home__blend-difference Shop at our store
        .home__bg--black
        .home__bg--white

        button.home__play-button Play animation
       
    script(src="main.js") 